.u-section-1 .u-sheet-1 {
  min-height: 746px;
}

.u-section-1 .u-shape-1 {
  width: 599px;
  height: 448px;
  margin: 139px auto 0 253px;
}

.u-section-1 .u-form-1 {
  height: 241px;
  width: 314px;
  margin: -375px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 172px;
  margin: -94px auto 60px 282px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: -627px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 90px;
  }
}